body {
    background-color: #000000;
    color:#bfff00;
    font-family: Consolas, sans-serif;
    font-size: 12px;
}

input[type="text"]{
    background-color: #000000;
    color: #bfff00;
    width: 100%;
    border: none;
    padding: 5px;
}

p{ margin: 2px; }